modules = ["web", "nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Serve Website"

[[workflows.workflow]]
name = "Serve Website"
author = 43261969
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"

[[ports]]
localPort = 5000
externalPort = 80
